# Dependencies
node_modules/

# Next.js & Turborepo
.next/
out/
.turbo/
next-env.d.ts
*.tsbuildinfo

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Logs & OS
*.log
.DS_Store
